@font-face {
	font-family: 'pizza-party'; 
	src: url('../fonts/KaushanScript-Regular.otf') format('opentype'); 
	}
	
	body {
	  font-family: 'Tahoma', sans-serif; 
	}

	html, body {
	  margin: 0;
	  padding: 0;
	  height: 100%;
	}

	.overlay {
	  position: absolute;
	  width: 100%;
	  height: 100%;
	  background-image: url('../images/pizza-slice.jpg'); 
	  background-color: black;
	  background-size: cover;
	}
	.darken {
	  position: absolute;
	  width: 100%;
	  height: 100%;
	  background-color: black;
	  opacity: 0.0;
	  overflow: hidden;
	}

	.darken:hover {
		background-color: black;
		opacity: 0.5;
		transition: opacity 5s ease;
		cursor: pointer;  
	}

	.marquee-container {
	  position: absolute;
	  width: 100%;
	  text-align: left;
	  top: 0;
	  height:100%;
	  display: flex;
	}

	.marquee {
	  display: inline-block;
	  white-space: nowrap;
	  animation: marquee linear infinite;
	  font-size: 1.5em;
	  top: 67%;
	  position: relative;
	  color: white;
	  text-align:left;
	  display: flex;
	  justify-content: space-between;
	  width: fit-content;
	}

:root {
	--marqueeZero: 1000px;
	--marquee100: -200%;
}
	@keyframes marquee {
	  0% { transform: translateX(var(--marqueeZero)); }
	  100% { transform: translateX(var(--marquee100)); }
	}	
	
	.marquee:hover {
	  animation-play-state: paused;
	}

.confetti-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; 
  z-index: 9999;
  overflow: hidden; 
}

.confetti-particle {
  position: absolute;
  width: 32px; 
  height: 32px; 
  background-image: url('../images/favicon-32x32.png');
  background-size: cover;
  pointer-events: none; 
  z-index: 9999; 


  top: 100%;
  left: 50%;
  transform: translateX(-50%) rotate(0deg);
}

@keyframes confetti-fall {
  0% {
    top: -100px; /* Start position at the bottom of the container */
    left: 50%;
    transform: translateX(-50%) rotate(0deg);
  }
  100% {
    top: 110%; /* End position at the top of the container */
    left: calc(100% * var(--random-left)); /* Move to a random position between 0% and 100% */
    transform: translateX(-50%) rotate(180deg);
  }
}

@keyframes confetti-launch {
  0% {
    top: 100%; /* Start position at the bottom of the container */
    left: 50%;
    transform: translateX(-50%) rotate(0deg);
  }
  100% {
    top: -100px; /* End position at the top of the container */
    left: calc(100% * var(--random-left)); /* Move to a random position between 0% and 100% */
    transform: translateX(-50%) rotate(180deg);
  }
}

#title {
  position: relative;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
  font-size: 5rem;
  color: rgba(255, 240, 197, 0.6);
  text-align: center;
  font-family: 'pizza-party', fantasy;
  opacity:1.0;
}
.wow {
  color: yellow;
  animation: wow 1s step-start infinite;
}

@keyframes wow {
  50% {
    opacity: 0;
  }
}

.mpanel {
  padding: 4px;
  float:left;
  text-wrap:wrap;
  min-width:20%;
  max-width:50%;
  overflow: auto;
  height: fit-content;
}
.wpanel {
  padding: 4px;
  float:left;
  text-wrap:wrap;
  min-width:20%;
  max-width:50%;
  overflow: auto;
  height: fit-content;
}
.mdivider {
  float:left;
  padding-left: 20px;
  padding-right: 20px;
  height: 3rem;
}
