@font-face {
  font-family: 'pizza-party'; 
  src: url('../fonts/KaushanScript-Regular.otf') format('opentype'); 
 }

body {
  font-family: 'YourFontName', sans-serif; /* Use the font for the whole page or specific elements */
}


html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.overlay {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url('../images/pizza-slice.jpg'); 
  background-size: cover;
}
/*
.overlay::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.03); 
}
*/

#title {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
  font-size: 5rem;
  color: rgba(255, 240, 197, 0.6);
  text-align: center;
  font-family: 'pizza-party', fantasy;
}

.fade-in-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    font-size: 24px;
    color: white;
    background-color: rgba(0, 0, 0, 1.0);
    transition: opacity 5s ease;
	cursor: pointer;
}

.fade-in-text:hover {
  opacity: 0.7;
  transition: opacity .5s ease;
}

.fade-in-text:hover .fade-in-text {
  transition-delay: 0.5s;
}
.overlay:hover .fade-in-text {
    opacity: 0.5;
	transition: opacity 1.5s ease;
}

.confetti-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; /* Prevent confetti container from blocking clicks on other elements */
  z-index: 9999; /* Make sure the confetti is on top of other content */
  overflow: hidden; /* Hide any overflowing particles */
}

.confetti-particle {
  position: absolute;
  width: 32px; /* Adjust the width of the confetti particles */
  height: 32px; /* Adjust the height of the confetti particles */
  background-image: url('images/favicon-32x32.png'); /* Make sure the path is correct */
  background-size: cover;
  pointer-events: none; /* Prevent confetti particles from interfering with clicks */
  z-index: 9999; /* Ensure the confetti particles appear on top */


  /* New styles to position the particles randomly */
  top: 100%;
  left: 50%;
  transform: translateX(-50%) rotate(0deg);

  /* New animation properties */
 /* animation: confetti-fall linear forwards; /* Remove duration from the animation */
}

@keyframes confetti-fall {
  0% {
    top: -100px; /* Start position at the bottom of the container */
    left: 50%;
    transform: translateX(-50%) rotate(0deg);
  }
  100% {
    top: 110%; /* End position at the top of the container */
    left: calc(100% * var(--random-left)); /* Move to a random position between 0% and 100% */
    transform: translateX(-50%) rotate(180deg);
  }
}

@keyframes confetti-launch {
  0% {
    top: 100%; /* Start position at the bottom of the container */
    left: 50%;
    transform: translateX(-50%) rotate(0deg);
  }
  100% {
    top: -100px; /* End position at the top of the container */
    left: calc(100% * var(--random-left)); /* Move to a random position between 0% and 100% */
    transform: translateX(-50%) rotate(180deg);
  }
}

.marquee-container {
  width: 100%;
  overflow: hidden;
  background-color: black;
  text-align: right;
  z-index: 999;
  position: absolute;
  height: 100%;
}

.marquee {
  display: inline-block;
  white-space: nowrap;
  animation: marquee 10s linear infinite;
  background-color: red;
  font-size: 4em;
  
  top: 80%;
}

@keyframes marquee {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}